@tailwind base;
@tailwind components;
@tailwind utilities;


.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #494b69;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}